@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */

.page-header-div {
  text-align: center;
}

.page-header {
  font-size: 3em;
}

/* footer */

.footer h3 {
  font-size: 1.3em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

.button {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* user's stat */

.user-name {
  font-size: 1.3em;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
}

.stats a {
  float: left;
  padding: 0 10px;
  border-left: 1px solid $gray-lighter;
  color: gray;
}

.stats a:first-child {
  padding-left: 0;
  border: 0;
}

.stats a:hover {
  text-decoration: none;
  color: blue;
}

.stats strong {
  display: block;
}

.follow_form {
  margin-top: 30px;
}

/* activity */
.list-activities {
  list-style: none;
  padding: 0;
}

.list-activities .activity-show {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.list-activities .user-gravatar-div {
  display: inline-block;
  width: 8%;
}

.list-activities .activity-div {
  display: inline-block;
  width: 90%;
}

.list-activities .activity-content-div {
  display: block;
}

.list-activities .activity-timestamp-div {
  display: block;
}

.list-activities .activity-likes-div {
  display: block;
}

.activity-likes-div .like-unlike-form-div {
  display: inline-block;
  width: 50px;
}

.activity-likes-div .like-count-div {
  display: inline-block;
  width: auto;
}

.like-button {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: #2A6496;
}

.like-button:hover {
  text-decoration: underline;
}

/* miscellaneous */

.users li {
    overflow: auto;
    padding: 10px 0;
}